.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Navigation {
  min-height: 1em;
  padding: 1em;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px #000000;
  position: relative;
}

.Navigation-Header {
  margin-top: 0;
}

.Navigation-Divider {
  margin-left: -1em;
  margin-right: -1em;
  border: 1px solid rgb(192, 192, 192);
  border-bottom: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: rgb(55, 119, 74);
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  cursor: 'pointer';
}

.Marker:hover {
  z-index: 1;
}

.Marker.Active {
  z-index: 3;
}

.Marker-Text {
  border: #060606 solid 2px;
  border-radius: 10px;
  position: absolute;
  background: #fff;
  bottom: calc(100% + 10px);
  left: -15em;
  padding: 10px;
  width: 30em;
  z-index: 100;
}

.Marker-Text:after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -15px;
  border-width: 11px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.Marker-Address {
  text-decoration: underline;
}

.Marker-Close {
  float: right;
  cursor: pointer;
}

.form-spacer-1 {
  display: inline-block;
  margin-right: 0.5em;
}
.form-spacer-2 {
  display: inline-block;
  margin-right: 2em;
}

.Query-Form {
  display: flex;
  align-items: center;
}

.Loading-Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  padding: 0.25em;
}

input[type="submit"] {
  display: inline-block;
  height: 100%;
  padding: 0.25em 1em;
  background: #ffffff;
  border-radius: 5px;
  border-width: 1px;
}

input[type="submit"]:hover {
  background: #003d0a;
  color: #ffffff;
  cursor: pointer;
}